:root {
  --primary-color: #007bff;
  --secondary-color: #f8f9fa;
  --hover-button-color: #0069d9;
  --box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.2);
}
.main-section-image {
  max-height: 450px;
}

.about-me-image {
  height: auto;
  width: 400px;
}

.yellow-background {
  background-color: var(--secondary-color);
}

.header {
  margin-top: 100px;
}

h2 {
  font-size: 48px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 96px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  opacity: 0.7;
}

.navigation-links {
  display: flex;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  box-shadow: var(--box-shadow);
}

#contact-link {
  background: var(--primary-color);
  color: white;
}

.navigation-links a:hover,
.navigation-links a:active {
  color: var(--hover-button-color);
}

#contact-link:hover,
#contact-link:active {
  color: var(--hover-button-color);
}

.about-paragraph {
  font-size: 18px;
}
